<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <link rel="stylesheet" href="~/Scripts/product.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <script src="http://js.api.here.com/v3/3.0/mapsjs-core.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-service.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-mapevents.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="http://js.api.here.com/v3/3.0/mapsjs-ui.js"
            type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"
          href="http://js.api.here.com/v3/3.0/mapsjs-ui.css" />
    <script type="text/javascript" charset="utf-8">
        var map = {
            configuration: {
                'app_id': '9shB49HQGahETgr6LWDZ',
                'app_code': '3CPwa96KM9xO-Z90EOBNig'
            },
            platform: {},
            maptypes: {},
            instance: {}
        };

        function setupHereMap(elementId) {
            map.platform = new H.service.Platform(map.configuration);
            map.maptypes = map.platform.createDefaultLayers();
            map.instance = new H.Map(
                document.getElementById(elementId),
                map.maptypes.normal.map);
            var mapEvents = new H.mapevents.MapEvents(map.instance);
            var behavior = new H.mapevents.Behavior(mapEvents);
            var ui = H.ui.UI.createDefault(map.instance, map.maptypes);
            return map;
        }
    </script>
</head>
    <body>
        @RenderBody()
    </body>
</html>
