html {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

a { text-decoration: none; }

a:link { color: white; }

a:visited { color: white; }

a:hover { color: white; }

a:active { color: white; }


.main-app-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-view {
    width: 100%;
    height: 70%;
    position: absolute;
    margin: 0 0 40% 0;
}

.home-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("assets/img-homepage.png") no-repeat;
    background-position: center center;
}

.product-name {
    font-size: 20px;
    color: #483d8b;
}

.button-box {

    display: flex;
    flex-direction: column;
    align-items: center;



    position: absolute;
    width: 100%;
    bottom: 4%;

    cursor: pointer;
}

.go-button {
    width: 240px;
    padding: 1.2em;
    text-align: center;
    color: #EEEEEE;
    background: url("assets/btn-comfirm.png") no-repeat;
    background-size: 100% 100%;
    font-size: 2em;    
}

.app-title {
    width: 100%;
    text-align: center;
    font-size: 0.5em;
    color: #AAAAAA;
}



.nav-view-box {

    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-items-box {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-items-box .nav-button {
    flex: 0 0 80px;
    height: 40px;
    /* background-image:  */
    border: 1px solid #00726E;
    background-color: #00726e;
    color: #FFFFFF;
    padding: 1em;
}


.language-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("assets/bg-green-01.png") no-repeat;
    background-position: cover;

    display: flex;
    flex-direction: column;
}


.language-item {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    padding: 0.5em;
    
}

.uber-icon {
    width: 100%;
    height: 100%;
    background: url("assets/img-uber.png") no-repeat;
}