html {
    font-family: 'Montserrat', sans-serif;
    
}

a { text-decoration: none; }

a:link { color: white; }

a:visited { color: white; }

a:hover { color: white; }

a:active { color: white; }


.main-app-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-view {
    width: 100%;
    height: 90%;
    position: absolute;
    margin: 0 0 40% 0;
}

.home-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("assets/img-homepage.png") no-repeat;
    background-position: center center;
}

.product-name {
    font-size: 20px;
    color: #483d8b;
}

.button-box {

    display: flex;
    flex-direction: column;
    align-items: center;



    position: absolute;
    width: 100%;
    bottom: 4%;

    cursor: pointer;
}

.go-button {
    width: 240px;
    padding: 1.2em;
    text-align: center;
    color: #EEEEEE;
    background: url("assets/btn-comfirm.png") no-repeat;
    background-size: 100% 100%;
    font-size: 2em;    
}

.app-title {
    width: 100%;
    text-align: center;
    font-size: 0.5em;
    color: #AAAAAA;
}



.nav-view-box {

    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-items-box {
    position: absolute;
    width: 100%;
    /* height: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 4px;
}

.nav-items-box .nav-button {
    flex: 0 0 80px;
    height: 1.6em;
    /* background-image:  */
    border: 1px solid #00726E;
    background-color: #00726e;
    color: #FFFFFF;
    padding: 0.2em;
}


.language-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("assets/bg-green-01.png") no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}


.language-item {
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-align: left;
    padding: 1rem;
    border-bottom: #eeeeee;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    cursor: pointer;
    
}

.map-view {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 235px;
}


.way-nav-box {
    width: 100%;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    background: #49B4B2;
    height: 230px;
}

.current-position {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.current-position .airport {
    width: 80px;
    height: 80px;
    padding: 0 1rem 0 0;
    background: url("assets/img-airport.png") no-repeat;
    background-size: contain;
}

.current-position .metro {
    width: 80px;
    height: 80px;
    padding: 0 1rem 0 0;
    background: url("assets/img-metro.png") no-repeat;
    background-size: contain;
}

.current-position .taxi {
    width: 80px;
    height: 80px;
    padding: 0 1rem 0 0;
    background: url("assets/img-taxi.png") no-repeat;
    background-size: contain;
}

.current-position .hotel {
    width: 80px;
    height: 80px;
    padding: 0 1rem 0 0;
    background: url("assets/img-hotel.png") no-repeat;
    background-size: contain;
}

.position-name {
    font-size: 2rem;
    color: #fff;
}

.position-address {
    font-size: 1rem;
    color: #00726E;
}



.position-selection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 0.5rem;
}


.position-selection .item {
    flex: 1 0 auto;
    min-width: 75px;
    min-height: 75px;
}




.position-selection .pos0 {
    width: 35px;
    height: 35px;
    padding-bottom: 12px;
    background: url("assets/img-stage1_green.png") no-repeat;
}

.position-selection .pos1 {
    width: 35px;
    height: 35px;
    padding-bottom: 12px;
    background: url("assets/img-stage2_green.png") no-repeat;
}

.position-selection .pos2 {
    width: 35px;
    height: 35px;
    padding-bottom: 12px;
    background: url("assets/img-stage3_green.png") no-repeat;
}

.position-selection .pos3 {
    width: 35px;
    height: 35px;
    padding-bottom: 12px;
    background: url("assets/img-stage4_green.png") no-repeat;
}

.position-selection .pos4 {
    width: 35px;
    height: 35px;
    padding-bottom: 12px;
    background: url("assets/img-stage5_green.png") no-repeat;
}

.active .pos0 {
    background: url("assets/img-stage1_yellow.png") no-repeat;
}

.active .pos1 {
    background: url("assets/img-stage2_yellow.png") no-repeat;
}

.active .pos2 {
    background: url("assets/img-stage3_yellow.png") no-repeat;
}

.active .pos3 {
    background: url("assets/img-stage4_yellow.png") no-repeat;
}

.active .pos4 {
    background: url("assets/img-stage5_yellow.png") no-repeat;
}

.position-selection > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon-airport {
    width: 55px;
    height: 55px;
    background: url("assets/img-airport_green.png") no-repeat;
}

.position-selection .icon-metro {
    width: 55px;
    height: 55px;
    background: url("assets/img-metro_green.png") no-repeat;
}

.position-selection .icon-taxi {
    width: 55px;
    height: 55px;
    background: url("assets/img-taxi_green.png") no-repeat;
}

.position-selection .icon-hotel {
    width: 55px;
    height: 55px;
    background: url("assets/img-hotel_green.png") no-repeat;
}

.position-selection .icon-restaurant {
    width: 55px;
    height: 55px;
    background: url("assets/img-hotel_green.png") no-repeat;
}

.active .icon-airport{
    background: url("assets/img-airport_yellow.png") no-repeat;
}

.active .icon-metro {
    background: url("assets/img-metro_yellow.png") no-repeat;
}

.active .icon-taxi {
    width: 55px;
    height: 55px;
    background: url("assets/img-taxi_yellow.png") no-repeat;
}

.active .icon-hotel {
    width: 55px;
    height: 55px;
    background: url("assets/img-hotel_yellow.png") no-repeat;
}

.active .icon-hotel {
    width: 55px;
    height: 55px;
    background: url("assets/img-hotel_yellow.png") no-repeat;
}

.location-details {
    color: #00726E;
    font-weight: bold;
    padding: 1rem;
    display: none;
}


.icon-toilet {
    width: 55px;
    height: 55px;
    background: url("assets/img-hotel_green.png") no-repeat;
}

.icon-elevator {
    width: 60px;
    height: 60px;
    background: url("assets/img-elevator.png") no-repeat;

}

.here-map-box {
    min-width: 640px;
    min-height: 480px;
    width: 100%;
    height: 100%;
    position: absolute;
}



.key-pic-airport {
    background: url("key-pic/elevator-airport.jpg") no-repeat;
    width: 100%;
    height: 100%;
    border: #333333 solid 1px;
}

.thumb-key-pic-airport {
    background: url("key-pic/elevator-airport.jpg") no-repeat;
    background-size: contain;
    width: 120px;
    height: 80px;
    border: #00726e solid 1px;
}

.enlarged-view {
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 400px;
    border: #00726e solid 1px;
    padding: 1.5rem;
    background-color: #00726eab;
}


.key-pic-metro {
    background: url("key-pic/elevator-metro.jpg") no-repeat;
    width: 100%;
    height: 100%;
    border: #333333 solid 1px;
    background-size: contain;
}

.thumb-key-pic-metro {
    background: url("key-pic/elevator-metro.jpg") no-repeat;
    background-size: contain;
    width: 120px;
    height: 80px;
    border: #00726e solid 1px;
}

.metro-pic-box {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

.key-thumb-box {
    position: fixed;
    left: 10px;
    top: 120px;
}

.icon-uber {
    background: url("assets/img-uber.png") no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 250px;
    left: 4px;
    cursor: pointer;
}

.icon-centerMap {
    background: url("assets/img-dot_green.png") no-repeat;
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 250px;
    right: 4px;
    cursor: pointer;
}

.global-map-box{
    height: 70%;
    position: absolute;
    top: 0;
    width: 100%;
}

.setup-container {
    height: 20%;
    top: 85%;
    position: absolute;
    width: 100%;
}